#service {
    i {
        font-size: 1.875rem;
        width: 4.375rem;
        height: 4.375rem;
    }
}

iframe {
    width: 100%;
    height: 31.25rem;
}

@media (max-width: 768px) {
    #header_social-media, #header_email, #header_phone {
        margin: 10px 0;
    }
}
